@import "tailwindcss";
@tailwind utilities;
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    * {
        @apply scroll-smooth;
    }

    body {
        @apply font-sans antialiased;
    }
}

/*ESTILO DE BADGE DE DISPONIBLE PARA TRABAJAR*/
/* DESPUÉS (con media query) */
.badge-gradient-border {
    border: 1.5px solid transparent; /* -> Borde más fino para móvil */
    border-width: 3.5px;

    background:
            linear-gradient(#181f2a, #181f2a) padding-box,
            linear-gradient(90deg, #2dd4ff, #93f6e6 20%, #feee5e 80%, #fd7c3a) border-box;
}

/* A partir de 768px, el borde vuelve a ser más grueso */
@media (min-width: 300px) and (max-width: 767px) {
    .badge-gradient-border {
        margin-top: 1.4rem !important;
        border-width: 3.5px;
    }
}


/* tokens rápidos */
:root {
    --bg: 16 16 20;
    --fg: 240 240 245;
    --muted: 180 180 190;
}
html, body, #root {
    height: 100%;
}

body {
    background: rgb(var(--bg));
    color: rgb(var(--fg));
}
